.form {
    border: 1px solid #1a1a1a;
    border-radius: 15px;
    padding: 0 10px;
}

.form__row {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form__row:last-child {
    margin-bottom: 18px;
}

.form__label {
   font-size: 20px;
   font-weight: bold;
   padding-bottom: 5px;
}

.form__label--error {
   color: #ee4242;
}

.form__input {
    font-size: 16px;
    padding: 15px;
}

.form__input--error {
    border: 1px solid red;
}

.error {
    color: #ee4242;
}

.form__btn {
    font-size: 18px;
    border: 1px solid #1a1a1a;
}

.form__btn--valid {
    border: 1px solid green;
    background-color: limegreen;
}